#frmcreateorder{
	padding-top: 50px;
	padding-left: 20px;
}
#btnorder{
	margin-top: 20px;
}
.tblrow{
	padding-top: 20px;
}
#tblorder{
	margin-top: 30px;
	margin-left: 20px;
}
#tbllistoforder{
	margin-top: 50px;
}